apiVersion: apps/v1
kind: StatefulSet
metadata:
  labels:
    app.kubernetes.io/component: ticdc
    app.kubernetes.io/instance: ticdc
  name: ticdc
  namespace: ${NAMESPACE}
spec:
  replicas: ${TICDC_REPLICAS}
  selector:
    matchLabels:
      app.kubernetes.io/component: ticdc
      app.kubernetes.io/instance: ticdc
  serviceName: ticdc-peer
  template:
    metadata:
      annotations:
        prometheus.io/path: /metrics
        prometheus.io/port: "8301"
        prometheus.io/scrape: "true"
      labels:
        app.kubernetes.io/component: ticdc
        app.kubernetes.io/instance: ticdc
    spec:
      containers:
      - command:
        - /bin/sh
        - -c
        - /cdc server --addr=0.0.0.0:8301 --advertise-addr=${POD_NAME}.${HEADLESS_SERVICE_NAME}.${NAMESPACE}.svc:8301
          --gc-ttl=86400 --log-file=/dev/stderr --log-level=info --pd=http://pd-pd:2379 --newarch
        env:
        - name: POD_NAME
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: metadata.name
        - name: NAMESPACE
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: metadata.namespace
        - name: HEADLESS_SERVICE_NAME
          value: ticdc-peer
        - name: TZ
          value: UTC
        image: ${TICDC_IMAGE}
        imagePullPolicy: IfNotPresent
        name: ticdc
        ports:
        - containerPort: 8301
          name: ticdc
          protocol: TCP
        resources:
          limits:
            cpu: "2"
            ephemeral-storage: 1Gi
            memory: 2Gi
          requests:
            cpu: 500m
            ephemeral-storage: 1Gi
            memory: 1Gi
        securityContext:
          capabilities:
            drop:
            - NET_RAW
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
