apiVersion: v1
data:
  config.toml: |
    compaction_limits=80
    cdc_s3_flush_interval="1s"
    [server]
    addr = "0.0.0.0:8510"
    advertise_addr = "POD_NAME.tici-worker-peer.${NAMESPACE}.svc:8510"
    status_addr = "0.0.0.0:8511"
    advertise_status_addr = "POD_NAME.tici-worker-peer.${NAMESPACE}.svc:8511"
    pd_addr = "pd-pd-peer.${NAMESPACE}:2379"
    status_server_store_path = "/tmp/worker_status_server"

    [s3]
    endpoint = "${S3_ENDPOINT}"
    region = "${S3_REGION}"
    use_path_style = ${S3_USE_PATH_STYLE}
    bucket = "${S3_BUCKET}"
    prefix = "tici"
    access_key = "${S3_ACCESS_KEY}"
    secret_key = "${S3_SECRET_KEY}"

    [frag_writer]
    local_data_path = "/var/lib/tici-worker/data"
    index_mem_budget="2048MiB"
    index_flush_interval="1s"

kind: ConfigMap
metadata:
  labels:
    app.kubernetes.io/instance: tici-worker
  name: tici-worker-config
  namespace: ${NAMESPACE}
