apiVersion: v1
data:
  config.toml: |
    [tidb_server]
    dsns = ["mysql://root@tidb-worker-tidb.${NAMESPACE}.svc:4000"]
  
    [server]
    addr = "0.0.0.0:8500"
    advertise_addr = "tici-meta.${NAMESPACE}.svc:8500"
    status_addr = "0.0.0.0:8501"
    advertise_status_addr = "tici-meta.${NAMESPACE}.svc:8501"
    pd_addr = "pd-pd-peer.${NAMESPACE}:2379"
    status_server_store_path = "/tmp/worker_status_server"
    
    [s3]
    endpoint = "${S3_ENDPOINT}"
    region = "${S3_REGION}"
    use_path_style = ${S3_USE_PATH_STYLE}
    bucket = "${S3_BUCKET}"
    prefix = "tici"
    access_key = "${S3_ACCESS_KEY}"
    secret_key = "${S3_SECRET_KEY}"
    
    [shard]
    max_size = "4096MB"
    split_threshold = 0.75
    
    [import]
    max_concurrency = 256
    [cache_scheduling]
    allocate_parallel_on_read_request=96
kind: ConfigMap
metadata:
  name: tici-meta-config
  namespace: ${NAMESPACE}
